[Unit]
Description=As a server waitting for client connecting
After=megapi-ap.service

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/workdir/RaspSocketServer/server2.py

[Install]
WantedBy=multi-user.target

